.logo {
  width: 46px;
  height: 25px;
  position: relative;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: calc(50% + 1px);
    position: absolute;
    left: 0;
    background-color: color(white);
    transition: height 0.3s ease;
  }
  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }
  &Open::before,
  &Open::after {
    height: 2px;
  }
}


.navLink:hover {
  color: color(grey);
}

.expand {
  transition: height 0.1s ease;
  @include mediaQuery(mobile) {
    height: calc(100vh - 58px) !important;
    height: calc(var(--vh, 1vh) * 100 - 58px) !important;
    transition: transform 0.1s ease;
    transform: translateY(calc(-100% - 58px));
  }
  &Opened {
    transition: height 0.3s cubic-bezier(0.16, 1, 0.3, 1);
    @include mediaQuery(mobile) {
      transition: transform 0.3s cubic-bezier(0.16, 1, 0.3, 1);
      transform: none;
    }
  }
}

.header {
  @include mediaQuery(mobile) {
    height: 58px;
  }
}

.headerInfo {
  &Content {
    border-color: color(black);
  }
  &Logo {
    width: 141px;
    height: 130px;
    opacity: 0;
    background-image: url(/images/biennale-logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &LogoOpened {
    opacity: 1;
    transition: opacity 0.2s ease 0.3s;
  }
}

.lift {
  transform: translateY(20px);
  &Up {
    transform: none;
    transition: transform 0.3s ease 0.3s;
  }
}

.nav {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  &Open {
    opacity: 1;
    transform: none;
  }
}

.cartButton {
  width: 23px;
  height: 23px;
}

.cartBox:hover .cartButton {
  background-color: white;
}

.homeButton {
  width: 43px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/slider-arrow.svg);
  transform: scaleX(-1);
}

.biennaleLogo {
  width: 109px;
  height: 100px;
  background-image: url(/images/biennale-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  @include mediaQuery(mobile) {
    opacity: 0;
    transition: opacity 0.1s ease;
    margin-top: 2px;
    &Open {
      opacity: 1;
      transition: opacity 0.2s ease 0.3s;
    }
  }
}

.disableTransitions * {
  transition: none !important;
}

.projectItemExpand {
  transition: height 0.2s ease;
  transform: translateY(-8px);
}
