.cart {
  margin-top: 184px;
  @include mediaQuery(mobile) {
    margin-top: 52px;
  }
}

.leftBorder::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  left: -4px;
  width: 1px;
  background-color: color(grey);
  @include mediaQuery(mobile) {
    display: none;
  }
}

.deleteButton {
  width: 20px;
  height: 14px;
}

.deleteMButton {
  width: 30px;
  height: 23px;
  margin-top: -1px;
}

.incButton,
.decButton {
  width: 18px;
  height: 14px;
  margin-top: -2px;
}

.incButton {
  margin-left: -2px;
}

.incMButton,
.decMButton {
  width: 25px;
  height: 19px;
}

.incMButton {
  margin-left: -1px;
}
