.cart {
  margin-top: 184px;
  @include mediaQuery(mobile) {
    margin-top: 52px;
  }
}

.leftBorder::before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  left: -4px;
  width: 1px;
  background-color: color(grey);
  @include mediaQuery(mobile) {
    display: none;
  }
}

.deleteButton {
  width: 20px;
  height: 14px;
}

.incButton,
.decButton {
  width: 18px;
  height: 14px;
  margin-top: -2px;
  @include mediaQuery(mobile) {
    stroke-width: 0.5;
  }
}

.incButton {
  margin-left: -2px;
  @include mediaQuery(mobile) {
    margin-left: -2.5px;
  }
}
