.line {
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left center;
  &Revealed {
    transform: scaleX(1)
  }
  @include mediaQuery(mobile) {
    height: 1px;
  }
}
