.logo {
  width: 109px;
  height: 100px;
  background-image: url(/images/biennale-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.councilLogo {
  width: 149px;
  height: 26px;
  background-image: url(/images/council-logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
