$ff-helvetica: 'Helvetica Neue LT Pro', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

$screens: (
  desktop: (
    min: 1024px,
  ),
);

$style-system-screens: (desktop);

$font-styles: (
  ts1: (
    font-family: $ff-helvetica,
    font-size: 14px,
    line-height: 15 / 14,
    letter-spacing: (-15em/1000)
  ),
  ts1B: (
    font-family: $ff-helvetica,
    font-size: 14px,
    line-height: 15 / 14,
    letter-spacing: (-15em/1000)
  ),
  ts2: (
    font-family: $ff-helvetica,
    font-size: 34px,
    font-weight: bold,
    line-height: 35 / 34,
    letter-spacing: (-23em/1000)
  ),
  ts3: (
    font-family: $ff-helvetica,
    font-size: 14px,
    line-height: 17 / 14,
    letter-spacing: (20em/1000)
  ),
  ts3I: (
    font-family: $ff-helvetica,
    font-size: 14px,
    font-style: italic,
    line-height: 17 / 14,
    letter-spacing: (30em/1000)
  ),
  ts3B: (
    font-family: $ff-helvetica,
    font-size: 14px,
    font-weight: bold,
    line-height: 17 / 14,
    letter-spacing: (-15em/1000)
  ),
  tsC: (
    font-family: $ff-helvetica,
    font-size: 28px,
    font-weight: bold,
    line-height: 32.57 / 28,
    letter-spacing: (-23em/1000)
  )
);

// дублируется в tailwind.config.js
$colors: (
  black: (
    base: #000,
  ),
  white: (
    base: #fff,
  ),
  grey: (
    base: #6D6E71,
  ),
  purple: (
    base: #B456FF,
  ),
);

$color-primary: map_get(map_get($colors, white), base);
$color-secondary: map_get(map_get($colors, black), base);
