.overlay {
  mix-blend-mode: exclusion;
}

.overlayButton {
  cursor: none;
}

.overlayButton:not(:disabled):hover {
  .overlayButtonCursor {
    opacity: 1;
  }
}

.overlayButtonCursor {
  opacity: 0;
  width: 43px;
  height: 35px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(/images/slider-arrow.svg);
  pointer-events: none;
}

.arrow {
  width: 30px;
  height: 24px;
  margin-left: 10px;
}

.description {
  transition: height 0.2s ease;
}

.sizeOption:disabled {
  pointer-events: none;
  opacity: 0;
}
