.volumeIcon {
  width: 28px;
  height: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  &Top {
    top: calc((75 / 1440 * 100vw) + (100% - (75 / 1440 * 100vw)) / 2);
  }
  &Bottom {
    top: calc((100% - (75 / 1440 * 100vw)) / 2);
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.videoOverlay {
  padding: 6px 6px 4px 6px;
}

.videoOverlayHidden {
  opacity: 0;
  transition: opacity 0.2s ease;
  &:hover {
    opacity: 1;
  }
}

.videoOverlay:hover .volumeIcon {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.volumeIconBlink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}

.cameraIcon {
  width: 30px;
  height: 17px;
  &Text {
    top: 1px;
    left: 6px;
  }
  &Top {
    transform: translateY(-1px);
  }
  &Bottom {
    transform: translateY(0);
  }
}

.forwardButton {
  left: 50%;
  cursor: pointer;
  height: 100%;
  @include mediaQuery(mobile) {
    left: 75%;
  }
  &Top {
    top: calc(75 / 1440 * 100vw);
    height: calc(100% - 75 / 1440 * 100vw);
  }
  &Bottom {
    bottom: calc(75 / 1440 * 100vw);
    height: calc(100% - 75 / 1440 * 100vw);
  }
}

.forwardIcon {
  width: 14px;
  height: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  @include mediaQuery(mobile) {
    opacity: 1;
  }
}

.forwardButton:hover .forwardIcon {
  opacity: 1;
}

.playIcon {
  width: 14px;
  height: 14px;
}

.playButton {
  left: 75%;
  &Top {
    top: calc(75 / 1440 * 100vw);
    height: calc(100% - 75 / 1440 * 100vw);
  }
  &Bottom {
    bottom: calc(75 / 1440 * 100vw);
    height: calc(100% - 75 / 1440 * 100vw);
  }
}
