.markdown {
  a {
    transition: color 150ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  a:hover {
    color: color(grey);
  }

  @include font-style(ts3);

  em {
    @include font-style(ts3I);
  }

  strong {
    @include font-style(ts3B);
  }

  h3 {
    @include font-style(ts2);
  }
}
